<form action="/users" method="post">
  <input type="text", name="user[username]", placeholder="username" value="<%= @user.username %>">
  <input type="text", name="user[email]" placeholder="email" value="<%= @user.email %>">
  <input type="submit", value="submit">
</form>
